* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 18px; */
}
body{
    height: 100vh;
    width: 100vw;
}

.side-nav,
.about-section,
.skills-section,
.resume-section,
.portfolio-section,
.testimonial-section,
.contact-section {
    font-size: 18px;
}

.side-nav {
    width: 17%;
    height: 100vh;
    background-color: black;
    color: #c5c2c2;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    animation: fadeOutLeft;
    animation-duration: 0.8s;
}

.side-nav.active {
    opacity: 1;
    animation: fadeInLeft;
    animation-duration: 0.8s;
    /* height: 100vh; */

}

.side-nav .top-nav-box .img-box {
    width: 120px;
    height: 120px;
    background-color: rgba(110, 110, 110, 0.588);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav .top-nav-box .img-box .img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../images/IMG_0053.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.side-nav .top-nav-box .nav-icon-box {
    display: flex;
    gap: 15px;
    opacity: 1;
}

.side-nav .top-nav-box .nav-icon-box i {
    padding: 8px;
    background-color: rgba(110, 110, 110, 0.588);
    border-radius: 50%;
    font-size: 20px;
    width: 35px;
    height: 35px;
    color: white;
    transition: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

}
.side-nav .center-nav-box .list-group a{
    text-decoration: none;
    color: #c5c2c2;
    font-size: 19px;
    
}


.side-nav .center-nav-box .list-group a li {
    color: #c5c2c2;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: start;
}



.side-nav .center-nav-box .list-group li span {

    color: #c5c2c2;
    /* font-size: px; */
}
.side-nav .center-nav-box .list-group li i {

    width: 10px;

    padding-right: 5px;
    margin-right: 15px;
}

.side-nav .center-nav-box .list-group li:hover a,
.side-nav .center-nav-box .list-group li:hover i {
    color: #149DDD;
}

.side-nav .center-nav-box .list-group .present span {
    font-weight: bold;
    color: white;
}

.side-nav .center-nav-box .list-group .present i {
    color: #149DDD;
    /* border: none; */
}

.side-nav .bottom-nav-box p {
    font-size: 15px;
}

.hero-bg {
    width: 100;
    height: 100vh;
    background-image: url(../images/hero-bg14.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: right;
    background-position-y: top;
    background-attachment: fixed;
}

.hero-bg .hero-bg-shadow-box {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.588);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-bg .hero-bg-shadow-box .text {
    position: absolute;
    top: 50;
    /* left: 30em; */

}

.hero-bg .hero-bg-shadow-box h1 {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero-bg .hero-bg-shadow-box h6 {
    font-size: 30px;
}

.hero-bg .hero-bg-shadow-box h6 span {
    /* color: #149DDD; */
    text-decoration: underline #149DDD;
    text-underline-offset: 8px;
}

.hero-bg button {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 25px;
    opacity: 0;
}

.side-nav .bottom-nav-box {
    line-height: 12px;
    margin-bottom: 10px;
}

/* start about-section coding */

.about-section {
    padding: 0 23px;
}

.detail-image img {
    border-radius: 50%;
    margin-top: 30px;
}

.about-section h2 {
    color: #122D52;
}

.about-section h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #149DDD;
    display: block;
    margin-top: 10px;
}

.about-section i {
    color: #149DDD;
}

/* end about-section coding */

/* start fact-section code */

.fact-section i {
    margin-top: 8px;
    font-size: 50px;
}

.fact-section h1 {
    font-weight: bold;
}


/* end fact-section code */

/* start skill section code */

.skills-section {
    background-color: rgba(173, 177, 184, 0.131);
}

.skills-section span {
    font-weight: bold;
}

.skills-section .progress {
    border-radius: 0% !important;
    height: 10px;
}

.skills-section .progress-bar {
    background-color: #149DDD;
}


/* end skill section code */

/* start resume section code */

.resume-section .resume-box {
    border-left: 2px solid #149DDD;
    position: relative;
    font-size: 14px;
    margin-bottom: 25px;
    padding-left: 20px;

}

.resume-section .resume-box::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    border: 2px solid #149DDD;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: -10px;
}

.resume-section .resume-box h4 {
    font-weight: bold;
}

.resume-section .resume-box h5 {
    font-weight: bold;

}

.resume-section .resume-box a {
    font-style: italic;
    text-decoration: none;
}

.resume-section .resume-box strong {
    font-style: italic;
    font-size: 16px;
}

.resume-section .resume-box p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0;
}

.resume-section .resume-box ul li {
    font-size: 18px;
}

.resume-section .certification {
    font-size: 18px;
}

.resume-section .certification p {
    margin-bottom: 4px;
}

/* end resume section code */


/* start portfolio section code */

.portfolio-section {
    background-color: rgba(173, 177, 184, 0.131);

}

.portfolio-section ul .nav-box {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
}

.portfolio-section ul .nav-box li {
    font-weight: bold;
    color: #122D52;
    margin: 0px 20px;
    cursor: pointer;
}

.portfolio-section ul .nav-box li.active {
    color: #149DDD;
}

.portfolio-section ul .nav-box li:hover {
    color: #149DDD;
}

.portfolio-section .portfolio-box {
    position: relative;
    background-color: rgba(219, 219, 239, 0.402);
    width: 560px;
    height: 288px;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    border-right: 10px solid rgb(0, 0, 0);
    border-left: 10px solid black;
}

.portfolio-section .img-box {
    position: relative;
    width: 420px;
    height: 288px;
    transition: 0.2s ease-in-out;
}

.portfolio-section .img-box img {
    object-fit: contain;
    border-radius: 20px;
}

.portfolio-section .portfolio-box iframe {
    object-fit: contain;
    border-radius: 20px;
}

.portfolio-section .expand-css {
    position: relative;
    width: 100vw;
    height: 720px;
    transition: 0.2s ease-in-out;
}

.portfolio-section .portfolio-boxes {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    /* transition: 0.2s ease-in-out; */
}

.portfolio-section .portfolio-box .portfolio-con-box {
    background-color: rgba(20, 157, 221, 0.545);
    width: 95.4%;
    height: 0px;
    position: absolute;
    bottom: 0;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.portfolio-section .portfolio-box .expand-adjust {
    width: 98.25%;
}

.portfolio-section .portfolio-box .portfolio-con-box button {
    width: 100%;
    transition: 0.2s ease-in-out;
}

.portfolio-section .portfolio-box .portfolio-con-box button:hover {
    background-color: #149DDD;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.portfolio-section .portfolio-box .portfolio-con-box button i {
    color: #fff;
    font-size: 22px;
}

.portfolio-section .portfolio-box:hover .portfolio-con-box {
    opacity: 1;
    height: 50px;
}

.portfolio-section .portfolio-box:hover {
    filter: brightness(80%);
}

/* end portfolio section code */


/* start testimonial section code */

.testimonial-section {}

.testimonial-section .carousel .carousel-item-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;


}

.testimonial-section .carousel .carousel-item-box a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    font-style: italic;
    text-align: justify;
}

.testimonial-section .carousel .carousel-item .row {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;

}


.testimonial-section .carousel .icon-box i {
    font-size: 80px;
    color: #fff;
    position: relative;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-section .carousel .carousel-item img {
    position: relative;
    top: -40px;
}

.testimonial-section .carousel .carousel-item h5 {
    position: relative;
    top: -30px;
}

.testimonial-section .carousel .carousel-item small {
    position: relative;
    top: -35px;
    margin-bottom: 20px;
}



.testimonial-section .carousel .carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    border: 1px solid #149DDD !important;

}

.testimonial-section .carousel .carousel-indicators button.active {
    background-color: #149DDD;

}


/* end testimonial section code */

/* start contact section code */

.contact-section {
    background-color: rgba(173, 177, 184, 0.131);
}




.contact-section .icon-box i {
    padding: 8px;
    width: 40px;
    font-size: 22px;
    background-color: rgba(20, 157, 221, 0.207);
    color: #149DDD;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
}

.contact-section .icon-box i:hover {
    background-color: #149DDD;
    color: #fff;
}

.contact-section label {
    font-size: 22px;
    font-family: sans-serif;
}
.contact-section .map {
   
}

/* end contact section code */


/* responsive code */


/* @media (min-width: 990px) {
    .material{
        margin-left:0;
        transition: margin-left 0.5s linear;
}
} */



@media (max-width: 600px) {

    .hero-bg {
        background-size: auto;
        /* background-size: 100%; */
        background-color: #fefefe;
        background-image: url(/images/IMG3.jpg);
        transition: linear 0.1s;
    }


}

@media (max-width:767px) {
    .detail-image img {
        border-radius: 10%;
        width: 50%;
        /* transition: ease-out 0.1s; */
    }

    .detail-image {
        /* border-radius: 0; */
        /* width:50%; */
        display: flex;
        justify-content: center;
    }

    .hero-bg .hero-bg-shadow-box .text h1 {
        font-size: 3em;
    }

    .hero-bg .hero-bg-shadow-box .text h6 {
        font-size: 1.5em;
    }
}


@media(max-width : 991px) {
    .side-nav {
        opacity: 0;
        transition: opacity 0.5s linear;
        width: auto;
    }

    .hero-bg button {
        opacity: 1;
    }
}

@media (max-width: 1180px) {

    .side-nav .top-nav-box .nav-icon-box,
    .bottom-nav-box {
        opacity: 0;
        transition: opacity 0.1s linear;
    }

}







